/*-- reset --*/
.mb12{margin-bottom: 12px;}
.mt35{margin-top: 35px;}
.mb35{margin-bottom: 35px;}
.mb9{margin-bottom: 9px;}
.mr1{margin-right: 1px;}
a{color:#333;text-decoration:none;}
a:visited {color:#333;text-decoration:none;}
a:hover{color:#f42626;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}
.c_666,
a.c_666,
a.c_666:visited{color:#666;}
a.c_666:hover{color:#f42626;}

.c_999,
a.c_999,
a.c_999:visited{color:#999;}
a.c_999:hover{color:#f42626;}

.c_ff0000,
a.c_ff0000,
a.c_ff0000:visited{color:#ff0000;}
a.c_ff0000:hover{color:#f42626;}

/*--animate--*/
.ease-in-out{
    -moz-transition: all .5s ease-in-out .0s;
    -webkit-transition: all .5s ease-in-out .0s;
    -o-transition: all .5s ease-in-out .0s;
    transition: all .5s ease-in-out .0s;
}
.ease{
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
/*-- global --*/
html,body{height: 100%;}
body{color: #333;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";font-size: 14px;line-height:22px;}
.g-w1280{width:1280px;margin:0 auto;}
.g-floor-left{float: left;width:580px;}
.g-floor-right{float: right;width:660px;}
.g-foot{background: #edeff0;padding:25px 0 45px 0;border-top: 1px solid #d5d5d5;}
/*-- 首页导航 --*/
.N-nav-bottom{background: #181c25;}
    .ntes-nav-main{width:1280px;height: 43px;}
    .ntes-nav-main a:hover{text-decoration: underline;}
.pc-view1000 .ntes-nav-main{width:1000px;}
.pc-view1200 .ntes-nav-main{width:1200px;}
.pc-view1280 .ntes-nav-main{width:1280px;}
/* 以下内容覆盖canv2013.842514 */
.ntes_cnav_logotext{position: relative;float: left;width:120px;height:45px;line-height: 43px;text-align: center;}
.ntes_cnav_logoa{position: relative;display: block;cursor: pointer;z-index: 2;}
.ntes_cnav_logotext span{display: inline-block;height: 45px;width:120px;background-color: #f02424;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f42626),to(#d51919));
    background-image: -webkit-linear-gradient(top,#f42626,#d51919);
    background-image: -moz-linear-gradient(top,#f42626,#d51919);
    background-image: -o-linear-gradient(top,#f42626,#d51919);
    background-image: -ms-linear-gradient(top,#f42626,#d51919);
    background-image: linear-gradient(top,#f42626,#d51919);
}
.ntes_cnav_logotext:hover .m-navLeft-top{top: 45px;}
.ntes_cnav_logoa:hover{text-decoration: none;}
.ntes_cnav_logoa:hover span{background-color: #cd0c0c;text-decoration: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#cd0c0c),to(#a20000));
    background-image: -webkit-linear-gradient(top,#cd0c0c,#a20000);
    background-image: -moz-linear-gradient(top,#cd0c0c,#a20000);
    background-image: -o-linear-gradient(top,#cd0c0c,#a20000);
    background-image: -ms-linear-gradient(top,#cd0c0c,#a20000);
    background-image: linear-gradient(top,#cd0c0c,#a20000);
}
.ntes_canv_arrow{position: absolute;bottom:-5px;left:55px;border-color: #d51919 transparent transparent;
    *border-color: #f42626 transparent transparent;border-color: #f42626 transparent transparent\0;border-style: solid dashed dashed;border-width: 5px 5px 0;font-size: 0;height: 0;width: 0;line-height: 0;}
.ntes_cnav_logoa:hover .ntes_canv_arrow{border-color: #a20000 transparent transparent;
*border-color: #cd0c0c transparent transparent;border-color: #cd0c0c transparent transparent\0;}
.ntes-nav .ntes_cnav_link{margin-top:0;height: 43px;}
.ntes-nav .ntes_cnav_link li{height: 43px;line-height: 43px;padding:0 15px;}
.ntes-nav .ntes_cnav_link .ntes_cnav_gameicon{position: relative;border-right: 1px solid #1f1f1f;height:43px;line-height:43px;border-left: none;}
.ntes-nav .ntes_cnav_link a{display: block;}
.ntes-nav-select-wide .ntes-nav-select-title{border-left: 1px solid #3f3f3f;}
.ntes-nav-entry-wide{border-left:1px solid #3f3f3f;}
.ntes-nav-logined-welcome{border-right:1px solid #3f3f3f;}
.ntes-nav-login-title{display:block;width:63px;height:43px;text-align:center;margin-bottom:-6px;border-right: 1px solid #1f1f1f;}
.ntes-nav-logined{float:left;height:43px;cursor:pointer;position:relative;outline:0;margin-bottom:-6px;padding:0 15px 0 0;border-left:1px solid #3f3f3f;border-right:1px solid #1f1f1f;border-bottom: 0;background-color: #333;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ntes-nav-logined .ntes-nav-select-arr,.ntes-nav-logined-scroll .ntes-nav-select-arr{right:10px}
.ntes-nav-logined-userinfo{line-height:45px;font-family:vendna;}
.ntes-nav-logined-username{overflow:hidden;display:block;text-overflow:ellipsis;max-width:86px;_width:86px}
.ntes-nav-login-scroll,.ntes-nav-logined-scroll{border-bottom:0;background:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.ntes-nav-login-normal{background-color:#333;background-image:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.ntes-nav-login-active{background-color:#333;background-image:none;}
.ntes-nav-login-normal,.ntes-nav-login-active{border-bottom:0}
.ntes-nav-login{height:43px;}
/* 覆盖结束 */

    @-webkit-keyframes navShow{
        0%{opacity:0;left:-141px;}
        100%{opacity:1;left:0;}
    }
    @-moz-keyframes navShow{
        0%{opacity:0;left:-141px;}
        100%{opacity:1;left:0;}
    }
    @-ms-keyframes navShow{
        0%{opacity:0;left:-141px;}
        100%{opacity:1;left:0;}
    }
    @keyframes navShow{
        0%{opacity:0;left:-141px;}
        100%{opacity:1;left:0;}
    }
    .m-navLeft{width:139px;height:100%;background: #070707;border-right:2px solid #f32525;
        -webkit-animation:navShow .5s ease .0s;
        -moz-animation:navShow .5s ease .0s;
        -ms-animation:navShow .5s ease .0s;
        animation:navShow .5s ease .0s;
    }
    .m-navLeft .posr{position: relative;}
    .m-navLeft-fix{position:fixed;_position:absolute;z-index:9998;top:0;left:0;}
        .m-navLeft .ul-liz1{height: 51px;background: #1c1c1c;*font-size: 0;text-align: left;}
        .m-navLeft .ul-liz1-a{display: block;height:50px;line-height: 50px;border-bottom:1px solid #242424;text-indent:45px;color: #787878;*font-size:14px;
            -moz-transition: all .5s;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
        }
        .m-navLeft .ul-liz1-a .nav-icon{position: absolute;top:17px;left:21px;background:url(../../img/common_nav.png) no-repeat -9999px;
            -moz-transition: left .5s;
            -webkit-transition: left .5s;
            -o-transition: left .5s;
            transition: left .5s;
        }
        .m-navLeft .ul-liz1-a .nav-icon-in{background-position: -41px -16px;width:15px;height: 15px;}
        .m-navLeft .ul-liz1-a .nav-icon-new{background-position: 0 0;width:13px;height: 15px;}
        .m-navLeft .ul-liz1-a .nav-icon-gift{background-position: -14px 0;width:15px;height: 15px;left:20px;}
        .m-navLeft .ul-liz1-a .nav-icon-phonegm{background-position: -30px 0;width:10px;height: 15px;left:22px;}
        .m-navLeft .ul-liz1-a .nav-icon-pcgm{background-position: -41px 0;width:15px;height: 15px;left:20px;}
        .m-navLeft .ul-liz1-a .nav-icon-cpt{background-position: -57px 0;width:15px;height: 15px;left:20px;}
        .m-navLeft .ul-liz1-a .nav-icon-vi{background-position: -73px 0;width:15px;height: 15px;left:20px;}
        .m-navLeft .ul-liz1-a .nav-icon-easegm{background-position: 0 -16px;width:22px;height: 17px;left:17px;}
        .m-navLeft .ul-liz1-a .nav-icon-bzgm{background-position: -23px -16px;width:17px;height: 17px;left:18px;}
        .m-navLeft .ul-liz1-a .nav-icon-app{background-position: -89px 0;width:15px;height: 14px;left:20px;}
        .m-navLeft .ul-liz1-a .nav-icon-sch{background-position: -57px -16px;width:14px;height: 14px;left:21px;}
        .m-navLeft .ul-liz1-a:hover,
        .m-navLeft .ul-liz1-hover .ul-liz1-a{position: absolute;top:0;left:0;height:51px;line-height: 50px;background: #353535;width:139px;border-right:2px solid #565656;text-decoration: none;color: #fff;text-indent:60px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-in,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-in{background-position: -41px -50px;width:15px;height: 15px;left: 36px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-new,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-new{background-position: 0 -34px;width:13px;height: 15px;left: 36px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-gift,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-gift{background-position: -14px -34px;width:15px;height: 15px;left:35px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-phonegm,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-phonegm{background-position: -30px -34px;width:10px;height: 15px;left:37px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-pcgm,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-pcgm{background-position: -41px -34px;width:15px;height: 15px;left:35px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-cpt,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-cpt{background-position: -57px -34px;width:15px;height: 15px;left:35px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-vi,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-vi{background-position: -73px -34px;width:15px;height: 15px;left:35px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-easegm,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-easegm{background-position: 0 -50px;width:22px;height: 17px;left:32px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-bzgm,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-bzgm{background-position: -23px -50px;width:17px;height: 17px;left:33px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-app,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-app{background-position: -89px -34px;width:15px;height: 14px;left:35px;}
        .m-navLeft .ul-liz1-a:hover .nav-icon-sch,
        .m-navLeft .ul-liz1-hover .ul-liz1-a .nav-icon-sch{background-position: -57px -50px;width:14px;height: 14px;left:36px;}
        .m-navLeft .ul-son{position: absolute;left:141px;top:0;width:0;background: #333;height:100%;overflow: hidden;*display: none;}
        .m-navLeft .ul-son ul{padding-top: 45px;}
        .m-navLeft .ul-son li{padding:20px 0 0 1px;}
        .m-navLeft .ul-son li a{display: block;line-height:60px;color: #797979;text-align: center;width:156px;*font-size: 14px;}
        .m-navLeft .ul-son li a:hover{background: #636363;color: #ededed;text-decoration: none;}
        .m-navLeft .ul-liz1-hover .ul-son{width:157px;*display: block;filter:alpha(opacity=97);-moz-opacity:0.97;-khtml-opacity: 0.97;opacity: 0.97;
            -moz-transition: all .4s ease .0s;
            -webkit-transition: all .4s ease .0s;
            -o-transition: all .4s ease .0s;
            transition: all .4s ease .0s;
        }
        .m-navLeft .li-iPlay,
        .m-navLeft .li-sch{position: relative;}
        .m-navLeft .li-sch{margin-top: 100px;}
        .m-navLeft .li-nobdb{height: 50px;}
        .m-navLeft .li-nobdb a{border: none;}
        .m-navLeft .li-nobdb:hover,
        .m-navLeft .li-nobdb .ul-liz1-a{height:50px;}
        .m-navLeft .li-iPlay .li-iPlay-son{position: absolute;left:141px;top:0;width:0;background: #333;height:172px;overflow: hidden;*display: none;}
        .m-navLeft .ul-liz1-hover .li-iPlay-son{width:368px;*display: block;filter:alpha(opacity=97);-moz-opacity:0.97;-khtml-opacity: 0.97;opacity: 0.97;
            -moz-transition: all .4s ease .0s;
            -webkit-transition: all .4s ease .0s;
            -o-transition: all .4s ease .0s;
            transition: all .4s ease .0s;
        }
        .m-navLeft .li-iPlay-son dl{padding:10px;}
            .m-navLeft .li-iPlay-son dt{float: left;width:117px;margin-right: 10px;background: #ededed;}
            .m-navLeft .li-iPlay-son dd{overflow: hidden;*zoom:1;}
            .m-navLeft .iplay-erwei{padding: 5px;color: #8f8f8f;font-family: "\5B8B\4F53";font-size: 12px;line-height: 16px;}
            .m-navLeft .iplay-erwei img{width:105px;height:105px;margin-bottom: 5px;}
            .m-navLeft .li-iPlay-son .ios,
            .m-navLeft .li-iPlay-son .az{position: relative;height:70px;display: block;background: #cdcdcd;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;width:100%;width: 220px;color: #4b4b4b;font-size: 20px;}
            .m-navLeft .li-iPlay-son .ios{margin-bottom: 12px;}
            .m-navLeft .li-iPlay-son .ios p{line-height:24px;padding-left:77px;font-size:20px;padding-top: 8px;}
            .m-navLeft .li-iPlay-son .ios p s{font-size: 18px;}
            .m-navLeft .li-iPlay-son .ios:hover,
            .m-navLeft .li-iPlay-son .az:hover{background: #000;color: #fff;}
            .m-navLeft .li-iPlay-son .az p{line-height:69px;padding-left:77px;font-size:18px;}
            .m-navLeft .li-iPlay-son .ios i{position: absolute;left:30px;top:13px;width: 32px;height: 37px;background:url(../../img/common_nav.png) no-repeat -138px 0;}
            .m-navLeft .li-iPlay-son .ios:hover i{background-position: -105px 0;}
            .m-navLeft .li-iPlay-son .az i{position: absolute;left:30px;top:13px;width: 35px;height: 40px;background:url(../../img/common_nav.png) no-repeat -207px 0;}
            .m-navLeft .li-iPlay-son .az:hover i{background-position: -171px 0;}
        .m-navLeft .li-sch-son{position: absolute;left:141px;top:0;width:0;height:50px;background: #333;overflow: hidden;*display: none;}
        .m-navLeft .li-sch-son .search-input-area{width: 265px;height: 28px;background: #5d5d5d;margin-left:10px;margin-top: 11px;overflow: hidden;*zoom:1;position: relative;}
        .m-navLeft .li-sch-son .search-input-area input{position: absolute;left:0;top:0;width: 255px;height: 22px;padding:4px 5px;border: 0;outline: none;background: #fff;color: #9d9d9d;font-size: 12px;line-height: 22px;}
        .m-navLeft .ul-liz1-hover .li-sch-son{width:285px;*display: block;filter:alpha(opacity=97);-moz-opacity:0.97;-khtml-opacity: 0.97;opacity: 0.97;
            -moz-transition: all .4s ease .0s;
            -webkit-transition: all .4s ease .0s;
            -o-transition: all .4s ease .0s;
            transition: all .4s ease .0s;
        }
        .m-navLeft .nav-text{margin-top: 45px;display: block;height:170px;background: #070707;position: relative;color: #717171;font-size: 12px;
            -moz-transition: none;
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
        }
        .m-navLeft .nav-text .txt{font-family:"Verdana";text-align: center;padding-top: 25px;color: #666;}
        .m-navLeft .nav-text .nav-date{width:115px;margin:0 auto;position: relative;padding-top: 10px;padding-bottom: 3px;}
        .m-navLeft .nav-text .nav-date .m{background: #1c1c1c;height: 33px;line-height: 33px;width: 51px;color: #787878;font-size: 16px;text-align: center;margin: 6px;position: relative;}
        .m-navLeft .nav-text .nav-date .m i{position: absolute;top:-6px;left:-6px;width: 9px;height: 9px;font-size:0;line-height: 0;border-top:3px solid #f42626;border-left: 3px solid #f42626;}
        .m-navLeft .nav-text .nav-date .d{position: absolute;font-family: "Impact";font-size: 40px;color: #787878;right:0;top:12px;height: 40px;line-height: 40px;}
        .m-navLeft .nav-text .txt2{color: #787878;width: 115px;margin:0 auto;line-height: 18px;}
        .m-navLeft .nav-text:hover{background: #1c1c1c;height:169px;border-bottom: 1px solid #242424;}
        .m-navLeft .nav-text:hover .txt2,
        .m-navLeft .nav-text:hover .nav-date .d{color: #fff;}
        .m-navLeft .nav-text:hover .nav-date .m{color: #fff;background: #3c3c3c;}
        .m-navLeft .nav-logo{position: relative;color: #fff;background: #070707;margin-top: 45px;display: block;height:170px;}
        .m-navLeft .nav-logo s{position: absolute;top:25px;left:21px;height: 110px;width:85px;background:url(../../img/common_nav.png) no-repeat -9px -68px;}
        .m-navLeft-top{position: absolute;top: -750px;left: 0;padding-top:107px;width:120px;border-right: 0;height:auto;opacity: 0.95;filter:alpha(opacity=50);
            -webkit-animation: none;
            -moz-animation: none;
            -ms-animation: none;
            animation: none;
            -webkit-transition:top .5s ease .0s;
            -moz-transition:top .5s ease .0s;
            -ms-transition:top .5s ease .0s;
            transition:top .5s ease .0s;
        }
        .m-navLeft-top .ul-liz1-a:hover, 
        .m-navLeft-top .ul-liz1-hover .ul-liz1-a{width: 118px;border-left: 2px solid #f32525;border-right: 0;}
/*-- 通用图片遮罩 --*/
    .m-imgScale{display: block;overflow: hidden;}
    .m-imgScale img{
        -webkit-transition:all 1s ease-out;
        -moz-transition:all 1s ease-out;
        -ms-transition:all 1s ease-out;
        -o-transition:all 1s ease-out;
        transition:all 1s ease-out;
    }
    .m-imgScale:hover img,
    .m-imgScale:active img{
        -webkit-transform:matrix(1.1,0,0,1.1,0,0);
        -moz-transform:matrix(1.1,0,0,1.1,0,0);
        -ms-transform:matrix(1.1,0,0,1.1,0,0);
        -o-transform:matrix(1.1,0,0,1.1,0,0);
        transform:matrix(1.1,0,0,1.1,0,0) 
    }
    .m-modelImg{display: block;position: relative;}
        .m-modelImg .tip{position: absolute;top:0;left: 0;width: 70px;height: 25px;line-height: 25px;text-align: center;color: #fff;background: #f72526;}
        .m-modelImg .modelImg-text{display: none;position: absolute;bottom:0;left: 0;width: 100%;height:56px;}
        .m-modelImg .modelImg-text s{position: absolute;top:0;left: 0;width: 100%;height:100%;background: #000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;z-index: 1;}
        .m-modelImg .modelImg-inc{position: relative;padding:8px;z-index: 2;}
        .m-modelImg .modelImg-inc .t{color: #fff;height: 22px;font-size: 12px;overflow: hidden;}
        .m-modelImg .modelImg-inc .c{color: #909090;height: 22px;overflow: hidden;font-size: 12px;}
        .m-modelImg:hover .modelImg-text,
        .m-modelImgCur .modelImg-text{display: block;}

/* 页脚模块新 */
    .footerbg-2015{height: 190px;border-top:4px solid #2e3349;background:#232937;margin-top:80px;overflow: hidden;*zoom:1;border-bottom: 3px solid #2b313f;}
    .footer-2015{margin: 0 auto;width:1280px;}
    .footer-channel-2015{width:136px;float:left;height:140px; padding: 50px 45px 0 0;border-right: 1px solid #353b49;}
    .footer-channel-2015 a{width:136px;display: block;overflow: hidden;height: 86px;}
    .footer-content-2015{overflow: hidden;*zoom:1;float: right;width:450px;padding-top:50px;}
    .footer-content-2015 li{float: left;width: 60px;_display: inline;margin-left:30px;}
    .footer-content-2015 a{display: block;text-align: center;font-weight: bold;color: #677082;font-size: 12px;line-height: 20px;}
    .footer-content-2015 a:hover{text-decoration: none;}
    .footer-content-2015 a span{display: block;width: 38px;height: 38px;margin:0 auto;background:url(../../img/bottom.png) no-repeat;
        -moz-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear;;
        -webkit-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear;;
        -o-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear;;
        transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear;;
    }
    .footer-content-2015 a .footer-sw{background-position: -138px 0;}
    .footer-content-2015 a:hover .footer-sw{background-position: -138px -39px;}
    .footer-content-2015 a .footer-yq{background-position: -177px 0;}
    .footer-content-2015 a:hover .footer-yq{background-position: -177px -39px;}
    .footer-content-2015 a .footer-rc{background-position: -216px 0;}
    .footer-content-2015 a:hover .footer-rc{background-position: -216px -39px;}
    .footer-content-2015 a .footer-tg{background-position: -255px 0;}
    .footer-content-2015 a:hover .footer-tg{background-position: -255px -39px;}
    .footer-content-2015 a .footer-xx{background-position: -294px 0;}
    .footer-content-2015 a:hover .footer-xx{background-position: -294px -39px;}
    .footer-link-2015{width: 
        500px;padding:50px 45px 0 75px;border-right: 1px solid #353b49;height:140px;float: left;}
    .footer-link-2015 a{color: #677082;font-size: 12px;display: inline-block;width:40px;margin-right:5px;margin-top:6px;}
    .footer-link-2015 dt,
    .footer-link-2015 dt a{color: #677082;font-size: 12px;display: inline;margin-right:0;margin-top:0;}
    .footer-link-2015 a:hover{color: #f9f9f9;text-decoration: none;}